### App Configuration ###

# STRING - The port the application listens for requests on.
APP_PORT="3000"

# ENUM - The mode the application is running in. ["development", "production", "testing", "migrations"]
NODE_ENV="development"

# Database Info
DB_HOST="10.0.0.4"
DB_PORT="3306"
DB_USERNAME="root"
DB_PASSWORD="p@ssw0rd"
DB_NAME="nameless"
DB_SYNC="false"
DB_LOGGING="false"

# STRING - Redis connection string
REDIS_HOST="redis://:@10.0.0.4:6379/0"