{{define "follow-us"}}
<div class="mt-3 text-center">
    <h5>Follow us on:</h5>
    <a href="https://instagram.com" class="btn-link"
    ><i class="fab fa-instagram" style="font-size: 1.5em"></i
    ></a>
    |
    <a href="https://facebook.com" class="btn-link"
    ><i class="fab fa-facebook" style="font-size: 1.5em"></i
    ></a>
    |
    <a href="https://tiktok.com" class="btn-link"
    ><i class="fab fa-tiktok" style="font-size: 1.5em"></i
    ></a>
    |
    <a href="https://reddit.com" class="btn-link"
    ><i class="fab fa-reddit" style="font-size: 1.5em"></i
    ></a>
    |
    <a href="https://discord.com" class="btn-link"
    ><i class="fab fa-discord" style="font-size: 1.5em"></i
    ></a>
</div>

{{end}}
