{{define "content"}}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow mt-5">
        <div class="card-body">
          <h3 class="card-title text-center">Login</h3>
          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" required />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                required
              />
            </div>
            <button type="button" id="btnLogin" class="btn btn-primary w-100">
              Login
            </button>
            <button
              type="button"
              id="btnLoginWithEmail"
              class="btn btn-primary w-100"
            >
              Login With Email
            </button>
          </form>
          <div class="mt-3 text-center">
            <a href="/terms" class="btn-link">Terms of Service</a> |
            <a href="/privacy" class="btn-link">Privacy Policy</a>
          </div>
          {{template "follow-us" .}}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("btnLogin").addEventListener("click", async () => {
    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;

    const response = await APP.AuthService.login(email, password);

    alert(JSON.stringify(response));

    if (response && response.access_token) {
      window.location.href = "/lists";
    }
  });

  document
    .getElementById("btnLoginWithEmail")
    .addEventListener("click", async () => {
      const email = document.getElementById("email").value;

      const response = await APP.AuthService.sendLoginEmail(email);

      alert(response);
    });
</script>

{{end}}
